[Unit]
Description="creates rfcomm socket and listens on it"
Before=multi-user.target
ConditionPathExists=/dev/ttyAMA0

[Service]
Type=simple
ExecStart=/usr/bin/rfcomm watch hci0
ExecStop=/bin/kill -2 $MAINPID


[Install]
RequiredBy=rover.service
